site_name: OpenIC Documentation
site_url: https://openic.org
site_author: Manuel Monge

# Navigation
nav:
  - Home: index.md
  - Iris 128: 
    - iris-128/index.md
    - Iris 128B:
      - iris-128/iris-128b/index.md
      - Headstage: iris-128/iris-128b/headstage_iris128B.md
      - Adapter: iris-128/iris-128b/adapter_iris128B.md
      - Quickstart: iris-128/iris-128b/quickstart_iris128B.md
    - Iris 128S: 
      - iris-128/iris-128s/index.md
      - Headstage: iris-128/iris-128s/headstage_iris128s.md
      - Adapter: iris-128/iris-128s/adapter_iris128s.md
      - Quickstart: iris-128/iris-128s/quickstart_iris128s.md
    - Thin-Film:
      - iris-128/thin-film/index.md
    - License:
      - LICENSE: iris-128/LICENSE.txt
      - NOTICE: iris-128/NOTICE.txt
  - Tutorials:
    - tutorials/index.md
    - Xschem with Pcells: tutorials/xschem-pcell.md

# Repository
repo_name: openic-org/docs
repo_url: https://github.com/openic-org/docs

# Copyright
copyright: Copyright &copy; 2024 - 2025 Manuel Monge

theme:
  name: material
  logo: assets/logo.png
  favicon: assets/logo.png
  features:
    - navigation.instant
    - navigation.sections
    - navigation.path
    - navigation.indexes
    - navigation.top
    - content.code.copy
    - content.code.select
    - content.tabs.link

extra_css:
  - stylesheets/extra.css
  - https://unpkg.com/katex@0/dist/katex.min.css

# Extensions
markdown_extensions:
  - tables
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde

extra_javascript:
#  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
#  - javascripts/tablesort.js
  - javascripts/mermaid.mjs
  - javascripts/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js